NODE_ENV=production
PORT=8080
DATABASE_URL=file:prisma/data.db
JWT_SECRET=jwtsecrethere
FILE_STORAGE_PATH=../uploads
FRONTEND_DIST_PATH=../client/dist
SITE_OWNER_NAME=Feck Admin
SITE_OWNER_EMAIL=feck@feck.com
MAX_UPLOAD_SIZE_MB=500
MAX_UPLOAD_SIZE_GUEST_MB=50
DISCORD_WEBHOOK_URL=